<!--The content below is only a placeholder and can be replaced.-->
<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <title>PostForMe</title>
</head>

<body>
  <header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a class="navbar-brand" href="#">Post For Me</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#products">Products</a>
          </li>
          <li class="nav-item active ">
            <a class="nav-link" href="#howitswork">How its works?</a>
          </li>
          <li class="nav-item  active">
            <a class="nav-link" href="#contact">Contacts us</a>
          </li>
        </ul>
      </div>
    </nav>
  </header>
 
  <main role="main">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img class="first-slide" src="https://image.ibb.co/kkwTSc/image2.jpg" alt="First slide">
          <div class="container">
            <div class="carousel-caption text-left">
              <h1>Stop wondering about publishing your business...</h1>
              <p>"Post For Me" does everything for you, without worrying about whether you posted it today or not?</p>
              <p><a class="btn btn-lg btn-primary" href="#contact" role="button">Join now!</a></p>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <img class="second-slide" src="https://image.ibb.co/cmgOtH/image1.jpg" alt="Second slide">
          <div class="container">
            <div class="carousel-caption" id="secSlide">
              <h1>Easy to use.</h1>
              <p>Publish on your bussiness pages.</p>
              <p><a class="btn btn-lg btn-primary" href="#howitswork" role="button">Learn more</a></p>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <img class="third-slide" src="https://image.ibb.co/disP0x/image3.jpg" alt="Third slide">
          <div class="container">
            <div class="carousel-caption text-right">
              <h1>Contact us</h1>
              <p>Send us a message and we'll get back to you as soon as we can</p>
              <p><a class="btn btn-lg btn-primary" href="#contact" role="button">Send message now</a></p>
            </div>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
      <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
    </div>
    <br>
    <!-- Marketing messaging and featurettes
      ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content.
https://ibb.co/mLX7Lx
https://ibb.co/jGJQ7c
https://ibb.co/ityQ7c
https://ibb.co/egRpYH
https://ibb.co/dZZF7c
https://ibb.co/nrimDH
     -->


    <div class="container marketing">
      <!-- Three columns of text below the carousel -->
      <!-- /.row -->
      <!-- START THE FEATURETTES -->
      <br class="featurette-divider">
      <div class="row featurette" [ngsReveal]="{ reset: true}">
        <div class="col-md-7" >
          <h2 class="featurette-heading" > Our Products <span class="text-muted">It'll blow your mind.</span></h2>
          <p class="lead" >"Post for you" is an amazing application that manages your advertise on social media, publish for you Images, Statuses, Links, videos and more!</p>
        </div>
        <div class="col-md-5">
          <!-- Img option -->
        </div>
      </div>
      <hr class="featurette-divider" >
      <div class="row featurette" [ngsReveal]="{ reset: true}" >
        <div class="col-md-7 order-md-2">
          <h2 class="featurette-heading">Oh yeah, it's that good. <span class="text-muted">See for yourself.</span></h2>
          <br>
          <p class="text-center" id="more"><strong>Save your time & Boost your bussiness </strong>
            <br> Software runs automatically from the moment it starts Works in the background without interruption.</p>
        </div>
        <div class="col-md-5 order-md-1">
          <img class="featurette-image img-fluid mx-auto" src="https://image.ibb.co/bBy3tH/clock.jpg" alt="Time" >
        </div>
      </div>
      <hr class="featurette-divider">
      <div class="row featurette" [ngsReveal]="{ reset: true}">
        <div class="col-md-7 order-md-2" >
         
        <img class="featurette-image img-fluid mx-auto" id="da" src="https://image.ibb.co/n64bDH/database.png" alt="Time"  >

        </div>
        <div class="col-md-5 order-md-1" >


          <h2 class="featurette-heading" >Backup & Restore your data. <span class="text-muted" >Keep it Safe.</span></h2>
          <br>
          <p class="text-center" id="more"><strong>Backup & Restore </strong>
            <br> You can easily save and restore your ads at any time with just one click of your software </p>

            <p id="products"></p>


        
        </div>
      </div>
      <hr class="featurette-divider" >
      <div class="row featurette" [ngsReveal]="{ reset: true}">
        <div class="col-md-7">
          <h2 class="featurette-heading" >Products & Prices</h2>
          <br>
          <div class="container">
            <table class="table table-striped table-bordered">
              <tr class="active" id="th">
                <th>Features</th>
                <th>Post For Me - Limited</th>
                <th>Post For Me - Premium</th>
              </tr>
              <tr>
                <td id="titles">Publish images</td>
                <td>
                  <i id="check" class="fa fa-check-circle"></i>
                </td>
                <td>
                  <i id="check" class="fa fa-check-circle"></i>
                </td>
              </tr>
              <tr>
                <td id="titles">Publish links</td>
                <td>
                  <i id="check" class="fa fa-check-circle"></i>
                </td>
                <td>
                  <i id="check" class="fa fa-check-circle"></i>
                </td>
              </tr>
              <tr>
                <td id="titles">Publish messages</td>
                <td>
                  <i id="check" class="fa fa-check-circle"></i>
                </td>
                <td>
                  <i id="check" class="fa fa-check-circle"></i>
                </td>
              </tr>
              <tr>
                <td id="titles">Save & Restore</td>
                <td>
                  <i id="check" class="fa fa-check-circle"></i>
                </td>
                <td>
                  <i id="check" class="fa fa-check-circle"></i>
                </td>
              </tr>
              <tr>
                <td id="titles">Publish in business page</td>
                <td>
                  <i id="check" class="fa fa-check-circle"></i>
                </td>
                <td>
                  <i id="check" class="fa fa-check-circle"></i>
                </td>
              </tr>
              <tr>
                <td id="titles">Time between publish</td>
                <td>Limited <strong>3 times</strong> a day</td>
                <td>Unlimited <strong>8 times </strong> a day</td>
              </tr>
              <tr>
                <td id="titles">Price</td>
                <td>
                  <p> &#8362; 600 / month</p>
                </td>
                <td>
                  <p id="howitswork"> &#8362; 1200 / month</p>
                </td>
              </tr>
            </table>
          </div>
        </div>
        <div class="col-md-5">
        </div>
      </div>
      <hr class="featurette-divider">
      <div class="row featurette" [ngsReveal]="{ reset: true}">
        <div class="col-md-7 order-md-2">
          <img class="featurette-image img-fluid mx-auto" src="https://image.ibb.co/bwJQ7c/diagram.png" alt="Time" >
        </div>
        <div class="col-md-5 order-md-1">
          <h2 class="featurette-heading">How its works ? <span class="text-muted">Easy.</span></h2>
          <br>
          <ul style="list-style-type:circle">
            <li>Open "Post For Me"</li>
            <li>Create your posts</li>
            <li>Set timer & click Start</li>
            <li>The software publish automatically </li>
          </ul>
        </div>
      </div>
      <hr class="featurette-divider">
      <!-- /END THE FEATURETTES -->
      <h2 class="featurette-heading" [ngsReveal]="{ reset: true}" >Contacts us </h2>
      <br>
      <section id="contact" [ngsReveal]="{ reset: true}">
        <div class="container">
          <div class="row">
            <div class="col-md-5 col-sm-5">
              <form>
                <hr>
                <div class="form-group">
                  <label id="field">Name: </label>
                  <input class="form-control" type="text" name="" value="" placeholder="Enter Name">
                </div>
                <div class="form-group">
                  <label id="field">Email: </label>
                  <input class="form-control" type="text" name="" value="" placeholder="Enter Email">
                </div>
                <div class="form-group">
                  <label id="field">Message: </label>
                  <textarea class="form-control" name="" value="" placeholder="Enter Message"></textarea>
                </div>
                <button class="btn btn-primary" id="field">Submit</button>
                <hr>
              </form>
            </div>
            <div class="col-md-7 col-sm-7">
            </div>
          </div>
        </div>
      </section>
    </div>
    <hr class="featurette-divider">
    <!-- /.container -->
    <!-- FOOTER -->
    <footer class="container">
      <p class="float-right"><a href="#">Back to top</a></p>
      <p>&copy; 2017-2018 Post For me liran nachman. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
    </footer>
  </main>
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js " integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN " crossorigin="anonymous "></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js " integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q " crossorigin="anonymous "></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js " integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl " crossorigin="anonymous "></script>
</body>

</html>
<router-outlet></router-outlet>
